.item {
    font-size: 30px;
    transform: translate(-100%, 0px);
    opacity: 0;
    animation: item-slide 1s forwards;
}
@keyframes item-slide {
    0% {

    }
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
.item:not(:last-child) {
    margin-bottom: 20px;
}
@for $i from 1 to 6{
$delay: ($i - 1) * 0.2;
.item:nth-child(#{$i}){
    animation-delay: #{$delay}s;
}
}